import style from "./{{pascalCase name}}.module.scss";

interface {{pascalCase name}}Props{
}

const {{pascalCase name}} = (props:{{pascalCase name}}Props) => {
return (
<div className={style.{{camelCase name}}Container}>
    {{pascalCase name}}
</div>
)
}
export default {{pascalCase name}};
